
<p class="fw-bolder">
	Hello, My name is Chetan Badgujar <br/>
	I'm Full Stack Developer
</p>
<p class="fw-normal">
	Greetings! I'm .NET Full Stack Developer, dedicated to crafting seamless web solutions.<br/>
	With proficiency in C#, ASP.NET, and a flair for front-end technologies,<br/>
	I specialize in creating dynamic and user-centric applications.<br />
	My approach combines technical expertise with a passion for clean, efficient code.<br />
	I thrive on tackling challenges and am adept at collaborating within agile teams.<br />
	Explore my portfolio to witness my commitment to delivering innovative and impactful web experiences.<br />
	<br />
	Feel free to customize this introduction to align with your experiences and personal style.
</p>

@code {

}
